/* DOCTOR PROPER RAGISTRATION PAGE */
.AB{
    position: absolute;
    left: 27%;
    top: -800px;
    transition-duration:1s;

}
.cross{
    position: relative;
    left: 650px;
    font-size: x-large;
    background-color: rgb(254, 248, 236);
    width: 33px;
    border-radius: 5px;
    cursor: pointer;
}

form{
    background-color: rgb(16, 16, 16);
    display: inline-block;
    border: 2px solid black;
    border-radius: 20px;
}
/* for javascript */
.doctor-ragistration-page{
    position: absolute;
    top: 0px;
    transition-duration:1s;

}
/* for javascript */
label,h3{
    color: rgb(203, 252, 255);
}

.full-registration-div{
    padding: 0px 40px 40px 40px;
    width: 600px;
    /* display: flex;
    flex-wrap: wrap; */
}
.first-input-field{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.address-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.padding{
    margin-bottom: 30px;
}
.full-registration-div input{
    display: block;
    
}
.full-registration-div label{
    font-size: large;
    font-weight: 500;
}

.registration-header-text p{
    height: 38px;
    padding: 6px 6px 6px 126px;
    margin-bottom: 30px;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(73, 255, 206);
    border: 1px solid rgb(255, 255, 39);
    border-radius: 5px;
    font-weight: 800;
    font-family: "Noto Sans Cham", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
    /* text-decoration: underline; */
}

.input-1 input,.input-2 input,.input-3 input, .input-4 input,
 .input-5 input, .input-9 input, .input-10 input, .input-11 input{
    border: 2px solid black;
    border-radius: 5px;
    height: 33px;
    width: 250px;
    padding: 0px 12px 0px 10px;
    font-size: large;
}

.state-div select{
    border: 2px solid black;
    border-radius: 9px;
    height: 33px;
    width: 250px;
    display: block;
    font-size: large;
}

.gender-div h3{
    display: inline-block;
}
.gender-div{
    padding: 20px 0px 0px 15px;
    margin: 0px 0px 10px 200px;
    border: 2px solid wheat;
    width: 160px;
    height: 100px;
    border-radius: 9px;
}

.input-6 label,.input-6 input{
    display: inline-block;
    margin: 0px 22px 0px 0px;
    padding: 0px 0px 0px 40px;
}
.input-7 label,.input-7 input{
    display: inline-block;
    padding: 0px 0px 0px 40px;
}
.input-8 label,.input-8 input{
    display: inline-block;
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 0px 40px;
}
.input-6 input{
    height: 17px;
    width: 17px;
}
.input-7 input{
    height: 17px;
    width: 17px;
}
.input-8 input{
    height: 17px;
    width: 17px;
}

.qualification .padding input{
    border: 2px solid black;
    border-radius: 9px;
    /* height: 33px;
    width: 250px; */
    font-size: large;
}

.qualification{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.password-input-12 input{
    margin: 0px 0px -20px 0px;
    padding: 0px 10px 0px 12px;
    height: 33px;
    width: 250px;
}
form .registration-button{
    padding: 0px 0px 30px 0px;
    margin: 0px 0px 0px 35%;
}
form .registration-button button{
    width: 200px;
    height: 40px;
    background-color: rgb(225, 250, 2);
    border: 2px solid rgb(255, 248, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgb(172, 172, 172);
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.1s;
}

form .registration-button button:hover{
    box-shadow: 4px 4px 3px rgb(179, 179, 179);
}

/* DOCTOR PROPER RAGISTRATION PAGE */

/* DOCTOR PROPER LOGIN PAGE */
.doc-login-cross-1{
    margin: 5px 0px 0px 313px;
    background-color: white;
    width: 26px;
    border-radius: 5px;
    cursor: pointer;
}
.doctor-login-text{
    margin: 0px 0px 0px 40%;
    padding: 20px 0px 0px 0px;
    font-size: x-large;
    color: white;
    font-weight: 900;
    font-family: "Noto Sans Cham", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 800; */
    font-style: normal;
}
.ab{
    height: 490px;
    width: 348px;
    /* padding: 20px; */
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: -490px;
    left: 40%;
    transition-duration: 0.5s;
}
/* for javascript  */
.show-Doc-LoginPage{
    position: absolute;
    top: 50px;
    transition-duration: 0.6s;
}
/* for javascript  */

#a{
    /* background-color: rgb(0, 0, 0); */
    width: 340px;
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1% 0px 0px 0px;
}

#a input{
    height: 35px;
    width: 240px;
    border-radius: 10px;
    padding: 0px 10px 0px 12px;
}
#a label{
    display: block;
}

.doctor-login-button button{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(206, 227, 21);
    font-size: large;
    font-weight: 800;
    border: 3px solid white;

}

/* DOCTOR PROPER LOGIN PAGE */


/* doctor & user registration Login */
.doctor-regis-login{
    display: flex;
    width: 190px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 150px;
    top: -60px;
    border: 2px solid white;
    border-radius: 10px;
    /* cursor: pointer; */
    /* transition: 1s; */
}
/* for javascript */
.showDocReg{
    position: absolute;
    top: 50px;
    transition-duration: 0.4s;
}
/* for javascript */
.doctor-regis-login .d-registration h4,.d-login h4{
    cursor: pointer;
}

.d-registration{
    padding: 0px 0px 0px 10px;
    font-size: larger;
}

.d-login{
    padding: 0px 15px 0px 0px;
    font-size: large;
}

.user-regis-login{
    display: flex;
    width: 190px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 20px;
    top: -60px;
    border: 2px solid white;
    border-radius: 10px;
}
.u-registration h4, .u-login h4{
    cursor: pointer;
}
/* for javascript */
.showUserReg{
    position: absolute;
    top: 50px;
    transition: 0.4s;
}
/* for javascript */

.u-registration{
    padding: 0px 0px 0px 10px;
    font-size: large;
}

.u-login{
    padding: 0px 15px 0px 0px;
    font-size: large;
}
/* doctor & user registration Login */