*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.top-bar-container{
    display: flex;
    justify-content: space-around;
    margin: 4px 0px 0px;
    background-color: rgba(137, 43, 226, 0.11);
}
.top-bar-container .logo{
    display: flex;
}

.top-bar-container .logo img{
    width: 3rem;
    height: 3rem;
    margin: 0px 16px 0px 0px;
}
.top-bar-container label{
    border: none;
    color: black;
}
.top-bar-container button{
    font-size: larger;
    font-weight: 600;

}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.container2{
    display: flex;
    /* justify-content: space-around; */
    margin: 30px 0px 0px ;
    justify-content: center;
    font-size: larger;

}
.container2 input{
    width: 500px;
    border-radius: 8px;
    margin: 0px 22px 0px;
    padding: 0px 10px 0px 10px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.container3{
    display: flex;
    justify-content: space-around;
    margin: 22px 0px 0px;
}
.container3.card1 :hover{
    box-shadow: 5px 5px 10px 3px black;
}
.container4{
    display: flex;
    justify-content: space-between;
    margin: 30px 36px 2px 36px;
}
.container4 button{
    height: 40px;
    align-self:center;
    font-size: large;
    font-weight: 500;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.container5{
    display: flex;
    justify-content: space-around;
    margin: 10px 0px 40px 0px ;
}
.container5 .ss img{
    width: 100px;
    border-radius: 50%;
}